.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px 150px;
}

.navbarlist{
    display:flex;
    align-items:center;
    list-style:none;
    gap:60px;
    font-size:20px;


}
.nav-connect{
    padding:20px 40px;
    border-radius:60px;
    background:linear-gradient(267deg,#DA7C25 0.36%,#b923E1 102.06%);
    font-size: 22px;
    cursor:pointer;
    transition:0.5s;
}
.nav-connect:hover{
    transform:scale(1.05);
}

.navbarlist li{
    display: flex;
    flex-direction: column;
    gap:5px;
    cursor:pointer;
}
.anchor-link{
    text-decoration: none;
    color:white
}
.nav-mob-close{
    display:none;
}
.nav-mob-open{
    display:none;
}
.dul{
    width: 80px;
    border-radius: 60px;
}
@media(max-width:768px){
    .navbar{
        margin:20px 50px;
    }
    .nav-connect{
        display:none;
    }
    .nav-mob-open{
        display:block;
        position:fixed;
        right:30px;
    }
    .nav-mob-close{
        display:block;
        position:relative;
        top:30px;
        left:290px;
        width:35px;

    }
    .navbarlist{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top:0;
        gap:30px;
        background-color: #1f0016;
        width: 350px;
        height:100%;
        z-index: 2;
        transition: right 0.5s;
        right:-350px;

    }
    .navbarlist li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap:20px;

    }
}