.login {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login h1 {
  margin-bottom: 20px;
  font-size: 54px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.loginpage{
    outline: none;
    border:none;
    background: transparent;
    color:white;
    font-family: outfit;
    font-size: 18px;
}
.btn{
    font-size:10px ;
    padding: 10px 12px;

    border-radius: 10px;
     background:linear-gradient(267deg,#DA7C25 0.36%,#b923E1 102.06%);
     cursor: pointer;
     transition: 0.3s;

}
